# Points that need to be cover in this notebook
1. Compare the data with GDP of country 
2. Compare the data with Polution 
3. Compare the data with population
4. Compare the data with religion
5. Compare the data with Average Salary 
6. Compare the data with weather condition 
7. Compare the data with gov corruption
8. Compare the data with life expetency 
9. Compare the data with region
10. Compare the data with avg age, height, gender

# Data 
link : https://www.kaggle.com/mathurinache/world-happiness-report

In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Data/2015.csv")
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

# adding GDP

### GDP data link : https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?end=2020&most_recent_value_desc=false&start=1960

In [3]:
GDP = pd.read_csv('data/GDP.csv')

In [4]:
GDP.rename(columns={"Country Name": "Country"}, inplace = True)
GDP.rename(columns={"2020": "GDP"}, inplace = True)

In [5]:
GDP

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,GDP
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929944e+10,1.970954e+10,2.147872e+10,2.571501e+10,2.351080e+10,2.679160e+10,...,9.427110e+11,9.498490e+11,9.635600e+11,9.837490e+11,9.186470e+11,8.720230e+11,9.842560e+11,1.011720e+12,1.008380e+12,9.188150e+11
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,...,6.709630e+11,7.275710e+11,8.207880e+11,8.514870e+11,7.607300e+11,6.905430e+11,6.837420e+11,7.416920e+11,7.945720e+11,7.845880e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.941719e+10,5.837598e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.131737e+10,2.684013e+10,2.160614e+10,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,4.582020e+11,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11,3.354420e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10

In [6]:
Final = pd.merge(data, GDP[['Country','GDP']], how='inner', on=['Country'])

In [7]:
Final

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,GDP
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,7.522480e+11
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2.171808e+10
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,3.560850e+11
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,3.625220e+11
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,1.644040e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,2.011614e+10
134,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,1.033399e+10
135,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,1.565155e+10
136,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,2.841786e+09
137,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,7.574637e+09

In [8]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# this will help us see the gdp data in normal format rather than scientific

# Data for Pollution

# Data for population

In [9]:
population = pd.read_csv('data/Population.csv')

In [10]:
population
population.rename(columns={"Country Name": "Country"}, inplace = True)
population.rename(columns={"2020": "Population"}, inplace = True)

In [11]:
population

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,Population
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000,56234.000,56699.000,57029.000,57357.000,...,102050.000,102565.000,103165.000,103776.000,104339.000,104865.000,105361.000,105846.000,106310.000,106766.000
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.000,134159786.000,137614644.000,141202036.000,144920186.000,148769974.000,...,532760424.000,547482863.000,562601578.000,578075373.000,593871847.000,609978946.000,626392880.000,643090131.000,660046272.000,677243299.000
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.000,9169406.000,9351442.000,9543200.000,9744772.000,9956318.000,...,30117411.000,31161378.000,32269592.000,33370804.000,34413603.000,35383028.000,36296111.000,37171922.000,38041757.000,38928341.000
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.000,98407221.000,100506960.000,102691339.000,104953470.000,107289875.000,...,360285439.000,370243017.000,380437896.000,390882979.000,401586651.000,412551299.000,423769930.000,435229381.000,446911598.000,458803476.000
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.000,5531451.000,5608499.000,5679409.000,5734995.000,5770573.000,...,24220660.000,25107925.000,26015786.000,26941773.000,27884380.000,28842482.000,29816769.000,30809787.000,31825299.000,32866268.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.000,966000.000,994000.000,1022000.000,1050000.000,1078000.000,...,1791000.000,1807106.000,1818117.000,1812771.000,1788196.000,1777557.000,1791003.000,1797085.000,1788878.000,1775378.000
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.000,5393034.000,5473671.000,5556767.000,5641598.000,5727745.000,...,23807586.000,24473176.000,25147112.000,25823488.000,26497881.000,27168210.000,27834811.000,28498683.000,29161922.000,29825968.000
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.000,17524533.000,17965733.000,18423157.000,18896303.000,19384838.000,...,52003759.000,52832659.000,53687125.000,54544184.000,55386369.000,56207649.000,57009751.000,57792520.000,58558267.000,59308690.000
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.000,3164330.000,3260645.000,3360099.000,3463211.000,3570466.000,...,14023199.000,14465148.000,14926551.000,15399793.000,15879370.000,16363449.000,16853608.000,17351714.000,17861034.000,18383956.000
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.000,3905038.000,4039209.000,4178726.000,4322854.000,4471178.000,...,12894323.000,13115149.000,13350378.000,13586710.000,13814642.000,14030338.000,14236599.000,14438812.000,14645473.000,14862927.000

In [12]:
Final = pd.merge(Final, population[['Country','Population']], how='inner', on=['Country'])
Final

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,GDP,Population
0,Switzerland,Western Europe,1,7.587,0.034,1.397,1.350,0.941,0.666,0.420,0.297,2.517,752248000000.000,8636896.000
1,Iceland,Western Europe,2,7.561,0.049,1.302,1.402,0.948,0.629,0.141,0.436,2.702,21718075725.000,366425.000
2,Denmark,Western Europe,3,7.527,0.033,1.325,1.361,0.875,0.649,0.484,0.341,2.492,356085000000.000,5831404.000
3,Norway,Western Europe,4,7.522,0.039,1.459,1.331,0.885,0.670,0.365,0.347,2.465,362522000000.000,5379475.000
4,Canada,North America,5,7.427,0.036,1.326,1.323,0.906,0.633,0.330,0.458,2.452,1644040000000.000,38005238.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.031,0.320,0.303,0.303,0.234,0.097,0.365,1.952,20116137326.000,38928341.000
134,Rwanda,Sub-Saharan Africa,154,3.465,0.035,0.222,0.774,0.429,0.592,0.552,0.226,0.670,10333991456.000,12952209.000
135,Benin,Sub-Saharan Africa,155,3.340,0.037,0.287,0.354,0.319,0.484,0.080,0.183,1.633,15651545332.000,12123198.000
136,Burundi,Sub-Saharan Africa,157,2.905,0.087,0.015,0.416,0.224,0.118,0.101,0.197,1.833,2841786382.000,11890781.000
137,Togo,Sub-Saharan Africa,158,2.839,0.067,0.209,0.140,0.284,0.365,0.107,0.167,1.567,7574636979.000,8278737.000

# Data of religon

link : https://datahub.io/sagargg/world-religion-projections#data

In [14]:
religon = pd.read_csv('data/Religion.csv')
religon = religon.query("Year == 2020")
religon

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
241,2020,World,All Countries,6.600,31.100,5.600,15.200,1.000,24.900,1.000,15.600
242,2020,North America,All Countries,1.200,74.600,1.000,1.000,1.600,1.300,1.000,19.200
243,2020,Latin America-Caribbean,All Countries,1.000,89.700,1.800,1.000,1.000,1.000,1.000,8.000
244,2020,Europe,All Countries,1.000,72.200,1.000,1.000,1.000,6.800,1.000,20.000
245,2020,Middle East-North Africa,All Countries,1.000,3.600,1.000,1.000,1.600,93.100,1.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...
477,2020,Sub-Saharan Africa,Zimbabwe,1.000,87.100,4.000,1.000,1.000,1.000,1.000,7.600
478,2020,Sub-Saharan Africa,South Sudan,1.000,60.500,32.900,1.000,1.000,6.200,1.000,1.000
479,2020,Latin America-Caribbean,Curacao,1.000,93.900,1.200,1.000,1.000,1.000,1.000,3.300
480,2020,Latin America-Caribbean,Sint Maarten,1.000,93.900,1.200,1.000,1.000,1.000,1.000,3.300
481,2020,Latin America-Caribbean,Caribbean Netherlands,1.000,93.900,1.200,1.000,1.000,1.000,1.000,3.300

In [16]:
Final = pd.merge(Final, religon[['Country','Buddhists','Christians','Folk Religions','Hindus','Jews','Muslims','Other Religions','Unaffiliated']], how='inner', on=['Country'])
Final

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,GDP,Population,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
0,Switzerland,Western Europe,1,7.587,0.034,1.397,1.350,0.941,0.666,0.420,...,752248000000.000,8636896.000,1.000,70.000,1.000,1.000,1.000,5.600,1.000,22.800
1,Iceland,Western Europe,2,7.561,0.049,1.302,1.402,0.948,0.629,0.141,...,21718075725.000,366425.000,1.000,94.000,1.000,1.000,1.000,1.000,1.000,3.900
2,Denmark,Western Europe,3,7.527,0.033,1.325,1.361,0.875,0.649,0.484,...,356085000000.000,5831404.000,1.000,81.900,1.000,1.000,1.000,5.100,1.000,12.000
3,Norway,Western Europe,4,7.522,0.039,1.459,1.331,0.885,0.670,0.365,...,362522000000.000,5379475.000,1.000,81.700,1.000,1.000,1.000,4.900,1.000,11.600
4,Canada,North America,5,7.427,0.036,1.326,1.323,0.906,0.633,0.330,...,1644040000000.000,38005238.000,1.000,66.400,1.200,1.700,1.100,2.800,1.200,24.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Afghanistan,Southern Asia,153,3.575,0.031,0.320,0.303,0.303,0.234,0.097,...,20116137326.000,38928341.000,1.000,1.000,1.000,1.000,1.000,99.000,1.000,1.000
132,Rwanda,Sub-Saharan Africa,154,3.465,0.035,0.222,0.774,0.429,0.592,0.552,...,10333991456.000,12952209.000,1.000,93.800,1.000,1.000,1.000,2.200,1.000,3.000
133,Benin,Sub-Saharan Africa,155,3.340,0.037,0.287,0.354,0.319,0.484,0.080,...,15651545332.000,12123198.000,1.000,52.200,17.900,1.000,1.000,24.600,1.000,5.200
134,Burundi,Sub-Saharan Africa,157,2.905,0.087,0.015,0.416,0.224,0.118,0.101,...,2841786382.000,11890781.000,1.000,91.000,6.000,1.000,1.000,2.900,1.000,1.000
135,Togo,Sub-Saharan Africa,158,2.839,0.067,0.209,0.140,0.284,0.365,0.107,...,7574636979.000,8278737.000,1.000,42.300,36.900,1.000,1.000,14.000,1.000,6.200

# data weather condition

link : https://www.kaggle.com/akshaychavan/average-temperature-per-country-per-year/data

# gov corruption data
CPIA transparency, accountability, and corruption in the public sector rating (1=low to 6=high)
https://data.worldbank.org/indicator/IQ.CPA.TRAN.XQ

In [21]:
gov = pd.read_csv("Data/gov.csv")
gov

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.611,2.579,2.526,2.556,2.500,2.500,2.421,2.500,2.500,2.500
2,Afghanistan,AFG,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000
3,Africa Western and Central,AFW,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.925,2.825,2.875,2.900,2.900,2.850,2.875,2.900,2.925,2.925
4,Angola,AGO,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.500,2.500,2.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000
262,"Yemen, Rep.",YEM,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.500,2.000,2.000,2.000,1.500,1.500,1.500,1.500,1.500,1.500
263,South Africa,ZAF,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.500,3.000,3.000,3.000,3.000,3.000,3.000,2.500,2.500,2.500
265,Zimbabwe,ZWE,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,1.500,1.500,1.500,1.500,2.000,2.000,2.000,2.500,2.500,2.500

In [23]:
gov.rename(columns={"Country Name": "Country"}, inplace = True)
gov.rename(columns={"2020": "CPIA"}, inplace = True)
Final = pd.merge(Final, gov[['Country','CPIA']], how='inner', on=['Country'])
Final

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Population,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated,CPIA
0,Switzerland,Western Europe,1,7.587,0.034,1.397,1.350,0.941,0.666,0.420,...,8636896.000,1.000,70.000,1.000,1.000,1.000,5.600,1.000,22.800,NaN
1,Iceland,Western Europe,2,7.561,0.049,1.302,1.402,0.948,0.629,0.141,...,366425.000,1.000,94.000,1.000,1.000,1.000,1.000,1.000,3.900,NaN
2,Denmark,Western Europe,3,7.527,0.033,1.325,1.361,0.875,0.649,0.484,...,5831404.000,1.000,81.900,1.000,1.000,1.000,5.100,1.000,12.000,NaN
3,Norway,Western Europe,4,7.522,0.039,1.459,1.331,0.885,0.670,0.365,...,5379475.000,1.000,81.700,1.000,1.000,1.000,4.900,1.000,11.600,NaN
4,Canada,North America,5,7.427,0.036,1.326,1.323,0.906,0.633,0.330,...,38005238.000,1.000,66.400,1.200,1.700,1.100,2.800,1.200,24.500,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,Afghanistan,Southern Asia,153,3.575,0.031,0.320,0.303,0.303,0.234,0.097,...,38928341.000,1.000,1.000,1.000,1.000,1.000,99.000,1.000,1.000,2.000
132,Rwanda,Sub-Saharan Africa,154,3.465,0.035,0.222,0.774,0.429,0.592,0.552,...,12952209.000,1.000,93.800,1.000,1.000,1.000,2.200,1.000,3.000,3.500
133,Benin,Sub-Saharan Africa,155,3.340,0.037,0.287,0.354,0.319,0.484,0.080,...,12123198.000,1.000,52.200,17.900,1.000,1.000,24.600,1.000,5.200,3.500
134,Burundi,Sub-Saharan Africa,157,2.905,0.087,0.015,0.416,0.224,0.118,0.101,...,11890781.000,1.000,91.000,6.000,1.000,1.000,2.900,1.000,1.000,1.500
135,Togo,Sub-Saharan Africa,158,2.839,0.067,0.209,0.140,0.284,0.365,0.107,...,8278737.000,1.000,42.300,36.900,1.000,1.000,14.000,1.000,6.200,3.000

In [25]:
Final.to_csv("out.csv")