# Points that need to be cover in this notebook
1. Compare the data with GDP of country 
2. Compare the data with Polution 
3. Compare the data with population
4. Compare the data with religion
5. Compare the data with Average Salary 
6. Compare the data with weather condition 
7. Compare the data with gov corruption
8. Compare the data with life expetency 
9. Compare the data with region
10. Compare the data with avg age, height, gender

# Data 
link : https://www.kaggle.com/mathurinache/world-happiness-report

In [57]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt

In [161]:
data = pd.read_csv("Data/2015.csv")
data

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.034,1.397,1.350,0.941,0.666,0.420,0.297,2.517
1,Iceland,Western Europe,2,7.561,0.049,1.302,1.402,0.948,0.629,0.141,0.436,2.702
2,Denmark,Western Europe,3,7.527,0.033,1.325,1.361,0.875,0.649,0.484,0.341,2.492
3,Norway,Western Europe,4,7.522,0.039,1.459,1.331,0.885,0.670,0.365,0.347,2.465
4,Canada,North America,5,7.427,0.036,1.326,1.323,0.906,0.633,0.330,0.458,2.452
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.035,0.222,0.774,0.429,0.592,0.552,0.226,0.670
154,Benin,Sub-Saharan Africa,155,3.340,0.037,0.287,0.354,0.319,0.484,0.080,0.183,1.633
155,Syria,Middle East and Northern Africa,156,3.006,0.050,0.663,0.475,0.722,0.157,0.189,0.472,0.329
156,Burundi,Sub-Saharan Africa,157,2.905,0.087,0.015,0.416,0.224,0.118,0.101,0.197,1.833
157,Togo,Sub-Saharan Africa,158,2.839,0.067,0.209,0.140,0.284,0.365,0.107,0.167,1.567

In [6]:
data.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

# adding GDP

### GDP data link : https://data.worldbank.org/indicator/NY.GDP.MKTP.CD?end=2020&most_recent_value_desc=false&start=1960

In [7]:
GDP = pd.read_csv('data/GDP.csv')

In [8]:
GDP.rename(columns={"Country Name": "Country"}, inplace = True)

In [9]:
GDP

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.549721e+09,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1.929944e+10,1.970954e+10,2.147872e+10,2.571501e+10,2.351080e+10,2.679160e+10,...,9.427110e+11,9.498490e+11,9.635600e+11,9.837490e+11,9.186470e+11,8.720230e+11,9.842560e+11,1.011720e+12,1.008380e+12,9.188150e+11
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.780511e+10,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,...,6.709630e+11,7.275710e+11,8.207880e+11,8.514870e+11,7.607300e+11,6.905430e+11,6.837420e+11,7.416920e+11,7.945720e+11,7.845880e+11
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.117900e+11,1.280530e+11,1.367100e+11,1.457120e+11,1.161940e+11,1.011240e+11,1.221240e+11,1.013530e+11,8.941719e+10,5.837598e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6.341737e+09,6.163785e+09,6.735731e+09,7.074658e+09,6.295820e+09,6.682833e+09,7.180813e+09,7.878509e+09,7.899879e+09,7.716925e+09
262,"Yemen, Rep.",YEM,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,3.272642e+10,3.540134e+10,4.041524e+10,4.322859e+10,4.244510e+10,3.131737e+10,2.684013e+10,2.160614e+10,NaN,NaN
263,South Africa,ZAF,GDP (current US$),NY.GDP.MKTP.CD,7.575397e+09,7.972997e+09,8.497997e+09,9.423396e+09,1.037400e+10,1.133440e+10,...,4.582020e+11,4.344010e+11,4.008860e+11,3.811990e+11,3.467100e+11,3.235860e+11,3.814490e+11,4.048420e+11,3.879350e+11,3.354420e+11
264,Zambia,ZMB,GDP (current US$),NY.GDP.MKTP.CD,7.130000e+08,6.962857e+08,6.931429e+08,7.187143e+08,8.394286e+08,1.082857e+09,...,2.345952e+10,2.550306e+10,2.803724e+10,2.714102e+10,2.125122e+10,2.095841e+10,2.587360e+10,2.631159e+10,2.330867e+10,1.811063e+10
265,Zimbabwe,ZWE,GDP (current US$),NY.GDP.MKTP.CD,1.052990e+09,1.096647e+09,1.117602e+09,1.159512e+09,1.217138e+09,1.311436e+09,...,1.410192e+10,1.711485e+10,1.909102e+10,1.949552e+10,1.996312e+10,2.054868e+10,1.758489e+10,1.811554e+10,1.928429e+10,1.805117e+10

In [10]:
test = pd.merge(data, GDP[['Country','2015']], how='inner', on=['Country'])

In [11]:
test

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2015
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,7.021500e+11
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,1.751721e+10
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,3.026730e+11
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,3.858020e+11
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,1.556510e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,1.913421e+10
134,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,8.539048e+09
135,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,1.138816e+10
136,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,3.104395e+09
137,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,4.180866e+09

In [12]:
# GDP is in millions so we will divide it by million so we get new small scale 
test['2015'] = (test['2015'].astype(float)/1000000)
test

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2015
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,7.021500e+05
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,1.751721e+04
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,3.026730e+05
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,3.858020e+05
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,1.556510e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,1.913421e+04
134,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,8.539048e+03
135,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,1.138816e+04
136,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,3.104395e+03
137,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,4.180866e+03

In [13]:
test.describe()

,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2015
count,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,138.000000,1.380000e+02
mean,77.456522,5.430884,0.047555,0.851321,0.999543,0.634178,0.437059,0.146035,0.237628,2.125134,5.050364e+05
std,46.414055,1.163746,0.017577,0.407429,0.277237,0.243138,0.152983,0.122098,0.125132,0.534411,1.891156e+06
min,1.000000,2.839000,0.018480,0.015300,0.000000,0.000000,0.000000,0.000000,0.000000,0.670420,9.660295e+02
25%,36.250000,4.553750,0.036610,0.527197,0.865637,0.447215,0.333842,0.062570,0.154913,1.809013,1.520321e+04
50%,77.000000,5.300000,0.043560,0.919550,1.035210,0.700410,0.452330,0.108770,0.216130,2.107080,5.317434e+04
75%,117.750000,6.322250,0.050915,1.158448,1.222855,0.812837,0.556227,0.180825,0.309883,2.472592,2.862362e+05
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140,1.823830e+07

In [14]:
test

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2015
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,7.021500e+05
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,1.751721e+04
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,3.026730e+05
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,3.858020e+05
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,1.556510e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210,1.913421e+04
134,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,8.539048e+03
135,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,1.138816e+04
136,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,3.104395e+03
137,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,4.180866e+03

In [15]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
# this will help us see the gdp data in normal format rather than scientific

In [16]:
test

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2015
0,Switzerland,Western Europe,1,7.587,0.034,1.397,1.350,0.941,0.666,0.420,0.297,2.517,702150.000
1,Iceland,Western Europe,2,7.561,0.049,1.302,1.402,0.948,0.629,0.141,0.436,2.702,17517.211
2,Denmark,Western Europe,3,7.527,0.033,1.325,1.361,0.875,0.649,0.484,0.341,2.492,302673.000
3,Norway,Western Europe,4,7.522,0.039,1.459,1.331,0.885,0.670,0.365,0.347,2.465,385802.000
4,Canada,North America,5,7.427,0.036,1.326,1.323,0.906,0.633,0.330,0.458,2.452,1556510.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.031,0.320,0.303,0.303,0.234,0.097,0.365,1.952,19134.212
134,Rwanda,Sub-Saharan Africa,154,3.465,0.035,0.222,0.774,0.429,0.592,0.552,0.226,0.670,8539.048
135,Benin,Sub-Saharan Africa,155,3.340,0.037,0.287,0.354,0.319,0.484,0.080,0.183,1.633,11388.161
136,Burundi,Sub-Saharan Africa,157,2.905,0.087,0.015,0.416,0.224,0.118,0.101,0.197,1.833,3104.395
137,Togo,Sub-Saharan Africa,158,2.839,0.067,0.209,0.140,0.284,0.365,0.107,0.167,1.567,4180.866

# Data for Pollution

# Data for population

In [17]:
population = pd.read_csv('data/Population.csv')

In [18]:
population

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.000,55434.000,56234.000,56699.000,57029.000,57357.000,...,102050.000,102565.000,103165.000,103776.000,104339.000,104865.000,105361.000,105846.000,106310.000,106766.000
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130836765.000,134159786.000,137614644.000,141202036.000,144920186.000,148769974.000,...,532760424.000,547482863.000,562601578.000,578075373.000,593871847.000,609978946.000,626392880.000,643090131.000,660046272.000,677243299.000
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996967.000,9169406.000,9351442.000,9543200.000,9744772.000,9956318.000,...,30117411.000,31161378.000,32269592.000,33370804.000,34413603.000,35383028.000,36296111.000,37171922.000,38041757.000,38928341.000
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,96396419.000,98407221.000,100506960.000,102691339.000,104953470.000,107289875.000,...,360285439.000,370243017.000,380437896.000,390882979.000,401586651.000,412551299.000,423769930.000,435229381.000,446911598.000,458803476.000
4,Angola,AGO,"Population, total",SP.POP.TOTL,5454938.000,5531451.000,5608499.000,5679409.000,5734995.000,5770573.000,...,24220660.000,25107925.000,26015786.000,26941773.000,27884380.000,28842482.000,29816769.000,30809787.000,31825299.000,32866268.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.000,966000.000,994000.000,1022000.000,1050000.000,1078000.000,...,1791000.000,1807106.000,1818117.000,1812771.000,1788196.000,1777557.000,1791003.000,1797085.000,1788878.000,1775378.000
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5315351.000,5393034.000,5473671.000,5556767.000,5641598.000,5727745.000,...,23807586.000,24473176.000,25147112.000,25823488.000,26497881.000,27168210.000,27834811.000,28498683.000,29161922.000,29825968.000
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,17099836.000,17524533.000,17965733.000,18423157.000,18896303.000,19384838.000,...,52003759.000,52832659.000,53687125.000,54544184.000,55386369.000,56207649.000,57009751.000,57792520.000,58558267.000,59308690.000
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,3070780.000,3164330.000,3260645.000,3360099.000,3463211.000,3570466.000,...,14023199.000,14465148.000,14926551.000,15399793.000,15879370.000,16363449.000,16853608.000,17351714.000,17861034.000,18383956.000
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3776679.000,3905038.000,4039209.000,4178726.000,4322854.000,4471178.000,...,12894323.000,13115149.000,13350378.000,13586710.000,13814642.000,14030338.000,14236599.000,14438812.000,14645473.000,14862927.000

# Data of religon

link : https://datahub.io/sagargg/world-religion-projections#data

In [19]:
religon = pd.read_csv("Data/Religion.csv")
religon = religon.query("Year == 2020")
religon

,Year,Region,Country,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
241,2020,World,All Countries,6.600,31.100,5.600,15.200,1.000,24.900,1.000,15.600
242,2020,North America,All Countries,1.200,74.600,1.000,1.000,1.600,1.300,1.000,19.200
243,2020,Latin America-Caribbean,All Countries,1.000,89.700,1.800,1.000,1.000,1.000,1.000,8.000
244,2020,Europe,All Countries,1.000,72.200,1.000,1.000,1.000,6.800,1.000,20.000
245,2020,Middle East-North Africa,All Countries,1.000,3.600,1.000,1.000,1.600,93.100,1.000,1.000
...,...,...,...,...,...,...,...,...,...,...,...
477,2020,Sub-Saharan Africa,Zimbabwe,1.000,87.100,4.000,1.000,1.000,1.000,1.000,7.600
478,2020,Sub-Saharan Africa,South Sudan,1.000,60.500,32.900,1.000,1.000,6.200,1.000,1.000
479,2020,Latin America-Caribbean,Curacao,1.000,93.900,1.200,1.000,1.000,1.000,1.000,3.300
480,2020,Latin America-Caribbean,Sint Maarten,1.000,93.900,1.200,1.000,1.000,1.000,1.000,3.300
481,2020,Latin America-Caribbean,Caribbean Netherlands,1.000,93.900,1.200,1.000,1.000,1.000,1.000,3.300

In [20]:
test2 = pd.merge(data, religon, how='inner', on=['Country'])

In [21]:
test2

,Country,Region_x,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),...,Year,Region_y,Buddhists,Christians,Folk Religions,Hindus,Jews,Muslims,Other Religions,Unaffiliated
0,Switzerland,Western Europe,1,7.587,0.034,1.397,1.350,0.941,0.666,0.420,...,2020,Europe,1.000,70.000,1.000,1.000,1.000,5.600,1.000,22.800
1,Iceland,Western Europe,2,7.561,0.049,1.302,1.402,0.948,0.629,0.141,...,2020,Europe,1.000,94.000,1.000,1.000,1.000,1.000,1.000,3.900
2,Denmark,Western Europe,3,7.527,0.033,1.325,1.361,0.875,0.649,0.484,...,2020,Europe,1.000,81.900,1.000,1.000,1.000,5.100,1.000,12.000
3,Norway,Western Europe,4,7.522,0.039,1.459,1.331,0.885,0.670,0.365,...,2020,Europe,1.000,81.700,1.000,1.000,1.000,4.900,1.000,11.600
4,Canada,North America,5,7.427,0.036,1.326,1.323,0.906,0.633,0.330,...,2020,North America,1.000,66.400,1.200,1.700,1.100,2.800,1.200,24.500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,Rwanda,Sub-Saharan Africa,154,3.465,0.035,0.222,0.774,0.429,0.592,0.552,...,2020,Sub-Saharan Africa,1.000,93.800,1.000,1.000,1.000,2.200,1.000,3.000
146,Benin,Sub-Saharan Africa,155,3.340,0.037,0.287,0.354,0.319,0.484,0.080,...,2020,Sub-Saharan Africa,1.000,52.200,17.900,1.000,1.000,24.600,1.000,5.200
147,Syria,Middle East and Northern Africa,156,3.006,0.050,0.663,0.475,0.722,0.157,0.189,...,2020,Middle East-North Africa,1.000,5.200,1.000,1.000,1.000,92.800,1.000,2.000
148,Burundi,Sub-Saharan Africa,157,2.905,0.087,0.015,0.416,0.224,0.118,0.101,...,2020,Sub-Saharan Africa,1.000,91.000,6.000,1.000,1.000,2.900,1.000,1.000
149,Togo,Sub-Saharan Africa,158,2.839,0.067,0.209,0.140,0.284,0.365,0.107,...,2020,Sub-Saharan Africa,1.000,42.300,36.900,1.000,1.000,14.000,1.000,6.200

# income data 
link : https://data.worldbank.org/indicator/NY.ADJ.NNTY.PC.CD

In [22]:
income = pd.read_csv("Data/salary.csv")
income

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,20055.184,21093.237,21960.638,22980.213,23868.340,24041.902,24369.298,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1274.151,1301.381,1295.362,1316.137,1245.352,1142.888,1240.548,1227.295,1198.274,NaN
2,Afghanistan,AFG,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,557.081,605.291,602.652,580.857,553.265,489.103,501.828,473.319,490.232,NaN
3,Africa Western and Central,AFW,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1331.652,1444.566,1630.413,1715.014,1562.002,1385.212,1303.398,1341.607,1424.480,NaN
4,Angola,AGO,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2285.741,2733.050,3053.728,3470.103,3119.033,2633.776,2866.865,2000.547,1700.318,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262,"Yemen, Rep.",YEM,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1031.862,1183.886,1368.310,1422.279,1470.813,1085.281,914.784,783.417,745.893,NaN
263,South Africa,ZAF,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,6455.046,6076.290,5515.835,5236.334,4732.894,4296.693,5012.693,5182.176,4862.223,NaN
264,Zambia,ZMB,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1202.186,1368.048,1431.799,1398.571,1069.520,1009.878,1168.021,1173.274,1049.042,NaN
265,Zimbabwe,ZWE,Adjusted net national income per capita (curre...,NY.ADJ.NNTY.PC.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,798.412,989.822,1167.134,1164.263,1180.491,1208.588,1268.188,1394.089,1208.280,NaN

In [23]:
income.rename(columns={"Country Name": "Country"}, inplace = True)
test3 = pd.merge(data, income[['Country','2015']], how='inner', on=['Country'])
test3

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,2015
0,Switzerland,Western Europe,1,7.587,0.034,1.397,1.350,0.941,0.666,0.420,0.297,2.517,65821.929
1,Iceland,Western Europe,2,7.561,0.049,1.302,1.402,0.948,0.629,0.141,0.436,2.702,42324.082
2,Denmark,Western Europe,3,7.527,0.033,1.325,1.361,0.875,0.649,0.484,0.341,2.492,45797.383
3,Norway,Western Europe,4,7.522,0.039,1.459,1.331,0.885,0.670,0.365,0.347,2.465,61170.707
4,Canada,North America,5,7.427,0.036,1.326,1.323,0.906,0.633,0.330,0.458,2.452,35337.878
...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Afghanistan,Southern Asia,153,3.575,0.031,0.320,0.303,0.303,0.234,0.097,0.365,1.952,553.265
134,Rwanda,Sub-Saharan Africa,154,3.465,0.035,0.222,0.774,0.429,0.592,0.552,0.226,0.670,606.931
135,Benin,Sub-Saharan Africa,155,3.340,0.037,0.287,0.354,0.319,0.484,0.080,0.183,1.633,930.889
136,Burundi,Sub-Saharan Africa,157,2.905,0.087,0.015,0.416,0.224,0.118,0.101,0.197,1.833,220.476
137,Togo,Sub-Saharan Africa,158,2.839,0.067,0.209,0.140,0.284,0.365,0.107,0.167,1.567,483.949

# data weather condition

link : https://www.kaggle.com/akshaychavan/average-temperature-per-country-per-year/data

In [154]:
avgtemp = pd.read_csv("Data/temp.csv")
avgtemp

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Ã…land,7.283,6.402,6.801,6.323,6.519,6.724,7.101,7.029,7.492,6.489,4.862,7.171,6.064,6.230
1,Afghanistan,15.498,15.778,15.538,14.916,15.771,14.980,15.596,15.106,15.216,15.258,15.829,15.518,14.482,16.534
2,Africa,24.588,24.841,24.961,25.026,24.896,25.156,24.819,24.852,24.755,25.026,25.473,24.787,24.726,25.209
3,Albania,13.747,13.690,13.560,13.627,13.258,12.747,12.977,13.890,13.955,13.844,13.775,13.443,13.768,14.994
4,Algeria,24.032,24.724,24.263,24.394,23.916,24.223,24.201,24.065,23.950,24.154,25.216,24.144,23.955,25.122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Western Sahara,23.020,23.705,23.458,23.409,23.421,23.508,23.442,23.145,23.323,23.381,24.114,23.401,23.303,23.744
240,Yemen,27.436,27.069,27.125,27.358,27.334,27.295,27.175,27.311,26.808,27.342,27.303,27.288,27.445,28.130
241,Zambia,21.559,21.802,22.292,22.157,21.768,22.814,21.784,21.838,21.536,21.670,22.267,21.772,21.698,21.196
242,Zimbabwe,21.149,21.694,22.081,21.891,21.331,22.510,21.619,21.604,21.546,21.377,21.986,21.602,21.521,20.711
243,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# gov corruption data
CPIA transparency, accountability, and corruption in the public sector rating (1=low to 6=high)
https://data.worldbank.org/indicator/IQ.CPA.TRAN.XQ

In [33]:
gov = pd.read_csv("Data/gov.csv")
gov

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.611,2.579,2.526,2.556,2.500,2.500,2.421,2.500,2.500,2.500
2,Afghanistan,AFG,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000,2.000
3,Africa Western and Central,AFW,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.925,2.825,2.875,2.900,2.900,2.850,2.875,2.900,2.925,2.925
4,Angola,AGO,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.500,2.500,2.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000,3.000
262,"Yemen, Rep.",YEM,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.500,2.000,2.000,2.000,1.500,1.500,1.500,1.500,1.500,1.500
263,South Africa,ZAF,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
264,Zambia,ZMB,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,2.500,3.000,3.000,3.000,3.000,3.000,3.000,2.500,2.500,2.500
265,Zimbabwe,ZWE,"CPIA transparency, accountability, and corrupt...",IQ.CPA.TRAN.XQ,NaN,NaN,NaN,NaN,NaN,NaN,...,1.500,1.500,1.500,1.500,2.000,2.000,2.000,2.500,2.500,2.500

# life data
https://data.worldbank.org/indicator/SP.DYN.LE00.IN

In [158]:
life = pd.read_csv("Data/life.csv")
life

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.662,66.074,66.444,66.787,67.113,67.435,...,75.158,75.299,75.441,75.583,75.725,75.868,76.010,76.152,76.293,NaN
1,Africa Eastern and Southern,AFE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,42.716,43.167,43.604,44.026,44.433,44.827,...,59.354,60.186,60.953,61.647,62.259,62.788,63.246,63.649,64.005,NaN
2,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.446,32.962,33.471,33.971,34.463,34.948,...,61.553,62.054,62.525,62.966,63.377,63.763,64.130,64.486,64.833,NaN
3,Africa Western and Central,AFW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.205,37.633,38.053,38.464,38.867,39.265,...,54.650,55.139,55.619,56.088,56.542,56.975,57.382,57.762,58.116,NaN
4,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,37.524,37.811,38.113,38.430,38.760,39.102,...,56.330,57.236,58.054,58.776,59.398,59.925,60.379,60.782,61.147,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,70.444,70.744,70.944,71.244,71.495,71.744,71.995,72.244,72.495,NaN
262,"Yemen, Rep.",YEM,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,29.919,30.163,30.500,30.943,31.501,32.175,...,65.768,65.920,66.016,66.066,66.085,66.087,66.086,66.096,66.125,NaN
263,South Africa,ZAF,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,48.406,48.777,49.142,49.509,49.888,50.284,...,58.895,60.060,61.099,61.968,62.649,63.153,63.538,63.857,64.131,NaN
264,Zambia,ZMB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,46.687,47.084,47.446,47.772,48.068,48.351,...,57.126,58.502,59.746,60.831,61.737,62.464,63.043,63.510,63.886,NaN
265,Zimbabwe,ZWE,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,53.019,53.483,53.946,54.403,54.849,55.274,...,52.896,55.032,56.897,58.410,59.534,60.294,60.812,61.195,61.490,NaN

In [160]:
avgtemp = pd.read_csv("Data/temp.csv")
avgtemp

,Country,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Ã…land,7.283,6.402,6.801,6.323,6.519,6.724,7.101,7.029,7.492,6.489,4.862,7.171,6.064,6.230
1,Afghanistan,15.498,15.778,15.538,14.916,15.771,14.980,15.596,15.106,15.216,15.258,15.829,15.518,14.482,16.534
2,Africa,24.588,24.841,24.961,25.026,24.896,25.156,24.819,24.852,24.755,25.026,25.473,24.787,24.726,25.209
3,Albania,13.747,13.690,13.560,13.627,13.258,12.747,12.977,13.890,13.955,13.844,13.775,13.443,13.768,14.994
4,Algeria,24.032,24.724,24.263,24.394,23.916,24.223,24.201,24.065,23.950,24.154,25.216,24.144,23.955,25.122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
239,Western Sahara,23.020,23.705,23.458,23.409,23.421,23.508,23.442,23.145,23.323,23.381,24.114,23.401,23.303,23.744
240,Yemen,27.436,27.069,27.125,27.358,27.334,27.295,27.175,27.311,26.808,27.342,27.303,27.288,27.445,28.130
241,Zambia,21.559,21.802,22.292,22.157,21.768,22.814,21.784,21.838,21.536,21.670,22.267,21.772,21.698,21.196
242,Zimbabwe,21.149,21.694,22.081,21.891,21.331,22.510,21.619,21.604,21.546,21.377,21.986,21.602,21.521,20.711
243,year,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN